body{
	background-color:#000;
	text-align:center;
}
#header{
	width:90%;
	height:200px;
	margin:auto;
	margin-top:2%;
	background-color:#E3B549; 
}
#menu{
	width:90%;
	height:50px;
	margin:auto;
	margin-top:2%;
	background-color:#D6670C;
}

#contenido{
	width:60%;
	height:200px;
	margin:auto;
	background-color:#9CA39D;

}
#footer{
	width:90%;
	height:200px;
	margin:auto;
	margin-top:2%;
	background-color:#E3B549;

}